html {
    min-height: 100%;
}

#navbar {
    height: 20vh;
}

#certificate-list {
    margin-top: 2rem;
    width: 82vw;
    margin-left: 12vw;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 45px;
}

.certificate-item {
    height: 120px;
    width: 95%;
    max-width: 460px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #000000ab;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.425);
    cursor: pointer;
    transform: translateY(50%);
    opacity: 0;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#certificate {
    height: 104px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#issuer-logo {
    height: 104px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#issuer-logo img {
    height: 60%;
    width: 60%;
    color: white;
}

#information {
    height: 70%;
    width: calc(100% - 119px);
    padding-left: 15px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

#information p {
    font-size: 80%;
    color: #ffffff;
}

#information .emphasis {
    color: white;
    font-size: 85%;
    font-weight: bold;
}

#pdf {
    height: 92%;
    width: 80%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}