@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

#rabbit-hole {
  height: 30vh;
  width: fit-content;
  margin-left: 12vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: calc(0.8vw + 1.7em);
}
#rabbit-hole * {
  display: inline-block;
  font-family: 'Noto Sans JP', sans-serif;
}
#rabbit-hole .underline {
  text-decoration: underline;
}
#rabbit-hole .thin {
  font-weight: 100;
  font-style: italic;
}
#rabbit-hole .bold, #rabbit-hole .emphasis {
  font-weight: bold;
}
#rabbit-hole .emphasis {
  background-color: var(--violet-crayola);
}
#rabbit-hole .emphasis ::-moz-selection {
  background-color: var(--emerald);
  color: var(--rich-black-fogra-39);
}
#rabbit-hole .emphasis::selection {
  background-color: var(--emerald);
  color: var(--rich-black-fogra-39);
}
#white-rabbit {
  height: 20vh;
  width: fit-content;
  margin-top: 10vh;
  margin-left: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#white-rabbit img {
  height: 100%;
}
